<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->

	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Art Museum</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
	<!--
	CSS
	============================================= -->
	<style>
		/* Add a CSS class to style the highlighted text */
		.highlighted {
			background-color: #b1e549; /* Highlight color */
			color: #ffffff; /* Text color */
		}
	</style>
	<link rel="stylesheet" href="/static/css/linearicons.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/magnific-popup.css">
	<link rel="stylesheet" href="/static/css/nice-select.css">					
	<link rel="stylesheet" href="/static/css/animate.min.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<style>
		.logged-in-user {
			font-family: 'Poppins', sans-serif;
			font-size: 14px;
			color: #ffffff;
			margin-right: 10px;
		}
	</style>
	<style>
		/* Your existing CSS code */
	
		/* Set the background color of the specified areas to black and text color to white */
		.exibition-area,
		.upcoming-event-area,
		.gallery-area,
		.quote-area,
		.footer-area,
		.service-area {
			background-color: black;
			color: white;
		}
	</style>	
	<style>
		/* Add a margin to the left of the search form */
		#search-form {
			margin-top: 50px;
			margin-left: 20px; /* Adjust the margin as needed */
		}
	</style>
	<style>
	/* Add a margin to the notification button */
	.notification-icon {
		margin-top: 50px;
		margin-right: 20px;
		position: relative;
	}
	
	/* Style for the notification count badge */
	.notification-count {
		background-color: rgb(192, 74, 74);
		color: white;
		font-size: 12px;
		padding: 2px 6px;
		border-radius: 50%;
		position: absolute;
		top: -5px;
		right: -5px;
	}
	
	/* Style for the notification dropdown */
	.notification-dropdown {
	display: none;
	position: absolute;
	top: 150px;
	right: 140px; /* Adjust this value to move it to the left */
	width: 200px;
	background-color: #453b37;
	border: 3px solid rgb(44, 55, 51) 8;
	box-shadow: 0 0 10px rgb(0, 0, 0);
	z-index: 1;
    }

	
	.notification-list {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	
	.notification-item {
		padding: 10px;
		border-bottom: 1px solid #cb1818;
	}
	
	
	.notification-item:last-child {
		border-bottom: none;
	}
	</style>
	<style>
		.notification-button {
			margin-top: -25px;
			color: rgb(255, 255, 255); /* Set the text color to white */
			text-align: right; /* Align the content to the right */
			margin-right: 50px; /* Increase the margin to move it further right */
		}
	</style>
	<style>
		.notification-content {
			color: rgb(218, 210, 195);
		}
		
		.notification-timestamp {
			color: rgb(46, 150, 82);
		}
	</style>
	
		
</head>
<body>
	
	<header id="header" id="home">
		<div class="container header-top">
			<div class="row">
				<div class="col-6 top-head-left">
					<ul>
						
					</ul>
				</div>
				<div class="col-6 top-head-right">
					<ul>
		
					</ul>
				</div>			  			
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="index.html"><img src="/static/img/logo.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="{% url 'index' %}">Home</a></li>
						
						<li><a href="{% url 'gallery' %}">Gallery</a></li>
						<li><a href="{% url 'ticket' %}">Buy Ticket</a></li>
						
						
						
						<li>
							<a href="{% url 'delete_account' %}"><span class="logged-in-user">USER: {{ request.user.username }}</span></a>
							<a href="{% url 'logout' %}">Logout</a>
				        </ul>
						<ul class="nav-menu">
						<form id="search-form" class="move-right">
							<input type="text" id="search-input" placeholder="Search...">
							<button type="submit">Search</button>
							<!-- Move the notification button here -->
						</form>	
						<div class="notification-button">
							<p align="right"><span> NOTIFICATIONS &#128276;</span></p>
						</div>
					    
					    </ul>
						<div class="notification-dropdown">
							<ul>
								{% for notification in notifications %}
									<li>
										<h5 style="color: white;">{{ notification.title }}</h5>
										<p class="notification-content">{{ notification.content }}</p>
										<p class="notification-timestamp">{{ notification.timestamp }}</p>
									</li>
								{% endfor %}
							</ul>
						</div>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-8">
							<h6 class="text-white">“Art enables us to find ourselves and lose ourselves at the same time.  ”
								     ― Thomas Merton , No Man Is an Island</h6>
									 <p style="font-size:15px;line:1px height 1px;;"><br/></p>
							<h2 class="text-white">
								Exhibition on Modern Era				
							</h2>
							
						</div>											
					</div>
				</div>					
			</section>
			<!-- End banner Area -->	
			<!-- Start quote Area -->
			<section class="quote-area section-gap">
				<div class="container">				
					<div class="row">
						<div class="col-lg-6 quote-left">
							<h1 class="searchable" style="color: white;" >
								<span >Music</span> gives soul to the universe, <br>
								wings to the <span>mind</span>, flight <br>
								to the <span>imagination</span>.
							</h1>
						</div>
						<div class="col-lg-6 quote-right">
							<p class="searchable">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End quote Area -->

			<!-- Start exibition Area -->
			<section class="exibition-area section-gap" id="exhibitions">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10" class="searchable" style="color: white;" >Museums</h1>
								<p class="searchable" >Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="active-exibition-carusel">
							<div class="single-exibition item">
								<img src="/static/img/k1.jpg" alt="">
								<ul class="tags">
									<li><a href="{% url 'detail1' %}">View Details</a></li>
								</ul>								
								<a href="#"><h4 class="searchable" style="color: white;" >The Bangladesh National Museum</h4></a>
								<p>
									Bangladesh National Museum was formed through the incorporation of Dhaka museum and it was made the national museum of Bangladesh on 17 November 1983. It is located at Shahbag, Dhaka.
								</p>
							</div>

							<div class="single-exibition item">
								<img src="/static/img/k2.jpg" alt="">
								<ul class="tags">
									<li><a href="{% url 'detail2' %}">View Details </Details></a></li>
								</ul>
								<a href="#"><h4 class="searchable" style="color: white;" >The Museum of Independence</h4></a>
								<p>
									The Museum of Independence in Dhaka, Bangladesh depicts the struggle for independence of Bangladesh. It shows the history of the nation since Mughal tenure to independence in 1971.
								</p>
								
							</div>

							<div class="single-exibition item">
								<img src="/static/img/k3.jpeg" alt="">
								<ul class="tags">
									<li><a href="{% url 'detail3' %}">View Details </Details></a></li>
								</ul>
								<a href="#"><h4 class="searchable" style="color: white;" >The Liberation War Museum</h4></a>
								<p>
									The Liberation War Museum began under the initiative of an eight-person board of trustees as a means of preserving the memory of the 1971 Liberation War. The trustees sought donations from the general public to fund the museum and for the general public to come forward with artifacts to be displayed artifacts from the war
								</p>
								
							</div>							
							<div class="single-exibition item">
								<img src="/static/img/k4.jpg" alt="">
								<ul class="tags">
									<li><a href="{% url 'detail4' %}">View Details </Details></a></li>
								</ul>
								<a href="#"><h4 class="searchable" style="color: white;" >Bangabandhu Military Museum</h4></a>
								<p>
									Bangabandhu Military Museum is a military museum of Bangladesh. Administered by the Bangladesh Army, the museum is located right beside the Bangabandhu Sheikh Mujibur Rahman Novo Theatre at Bijoy Sarani of the capital Dhaka.[1] The museum has a collection of Bangladesh's military history, heritage, success stories and various weapons and ammunition.
								</p>
								
							</div>

							<div class="single-exibition item">
								<img src="/static/img/k5.jpeg" alt="">
								<ul class="tags">
									<li><a href="{% url 'detail5' %}">View Details </Details></a></li>
								</ul>
								<a href="#"><h4 class="searchable" style="color: white;" >Bangladesh air force museum</h4></a>
								<p class="searchable" >
									To know about the history of our air force, the fighters and the brave heart of Bangladesh
								</p>
						
							</div>

							<div class="single-exibition item">
								<img src="/static/img/k6.jpg" alt="">
								<ul class="tags">
									<li><a href="{% url 'detail6' %}">View Details </Details></a></li>
								</ul>
								<a href="#"><h4 class="searchable" style="color: white;" >Bangladesh Military Museum</h4></a>
								<p>
									Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
								</p>
								
							</div>							
							<div class="single-exibition item">
								<img src="/static/img/k7.jpg" alt="">
								<ul class="tags">
									<li><a href="{% url 'detail7' %}">View Details </Details></a></li>
								</ul>
								<a href="#"><h4 class="searchable" style="color: white;" >Currency Museum</h4></a>
								<p>
									This place is taken regarding the enlargement of the currency museum into money museum. The country's eminent artists, architects and historians have worked together for the museum along with the central bank to make it launch.
								</p>
								
							</div>

							<div class="single-exibition item">
								<img class="img-fluid" src="/static/img/k8.jpg" alt="">
								<ul class="tags">
									<li><a href="{% url 'detail8' %}">View Details </Details></a></li>
								</ul>
								<a href="#"><h4 class="searchable" style="color: white;" >Bengal Gallery of Fine Arts</h4></a>
								<p>
									Bengal Gallery of Fine Arts is one of the big Art Galley in Bangladdesh.Its take many initiatives for developing bangladeshi art & artist
								</p>
								
							</div>

							<div class="single-exibition item">
								<img class="img-fluid" src="/static/img/k9.jpg" alt="">
								<ul class="tags">
									<li><a href="{% url 'detail9' %}">View Details </Details></a></li>
								</ul>
								<a href="#"><h4 class="searchable" style="color: white;" >Ahsan Manzil Museum</h4></a>
								<p>
									Ahsan Manzil is a palace located in the Kumartoli area of Dhaka, Bangladesh. It was formerly the residence and seat of the Nawab of Dhaka and has been designated an Old Dhaka Heritage Site. It now serves as a museum.
								</p>
							</div>
						</div>													
					</div>
				</div>	
			</section>
			<!-- End exibition Area -->			
		
			<!-- Start upcoming-event Area -->
			<section class="upcoming-event-area section-gap" id="events">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10" class="searchable" style="color: white;" >Checkout our Upcoming Events</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row" >
						<div class="col-lg-6 event-left">
							<div class="single-events" class="searchable" style="color: white;" >
								<img class="img-fluid" src="/static/img/u1.jpeg" alt="">
								<a href="#"><h4 class="searchable" class="searchable" style="color: white;">Event on the rock solid carbon</h4></a>
								<h6 class="searchable" style="color: white;"><span class="searchable" style="color: white;" >21st February</span class="searchable" style="color: white;" > at Central government museum</h6>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
								</p>
								<a href="#" class="primary-btn text-uppercase">View Details</a>
							</div>
							<div class="single-events" >
								<img class="img-fluid" src="/static/img/u3.jpeg" alt="">
								<a href="#"><h4 class="searchable" class="searchable" style="color: white;" >Event on the rock solid carbon</h4></a>
								<h6><span class="searchable" style="color: white;" >21st February</span class="searchable" style="color: white;" > at Central government museum</h6>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
								</p>
								<a href="#" class="primary-btn text-uppercase">View Details</a>
							</div>							
						</div>
						<div class="col-lg-6 event-right">
							<div class="single-events">
								<a href="#"><h4 class="searchable" class="searchable" style="color: white;" >Event on the rock solid carbon</h4></a>
								<h6 class="searchable" style="color: white;" ><span class="searchable" style="color: white;" >21st February</span> at Central government museum</h6>
								<p class="searchable" style="color: white;" >
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
								</p>
								<a href="#" class="primary-btn text-uppercase">View Details</a>
								<img class="img-fluid" src="/static/img/u2.jpeg" alt="">
							</div>
							<div class="single-events">
								
								<a href="#"><h4 class="searchable" class="searchable" style="color: white;" >Event on the rock solid carbon</h4></a>
								<h6 class="searchable" style="color: white;"><span class="searchable" style="color: white;" >21st February</span > at Central government museum</h6>
								<p class="searchable" style="color: white;" >
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
								</p>
								<a href="#" class="primary-btn text-uppercase">View Details</a>
								<img class="img-fluid" src="/static/img/u4.jpeg" alt="">
							</div>							
						</div>
					</div>
				</div>	
			</section>
			<!-- End upcoming-event Area -->

			<!-- Start gallery Area -->
			<section class="gallery-area section-gap" id="gallery">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Our Exhibition Gallery</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
							</div>
						</div>
					</div>						
					<div id="grid-container" class="row">
						<a class="single-gallery" href="/static/img/p1.jpg"><img class="grid-item" src="/static/img/p1.jpg"></a>
						<a class="single-gallery" href="/static/img/g2.jpeg"><img class="grid-item" src="/static/img/g2.jpeg"></a>
						<a class="single-gallery" href="/static/img/g3.jpeg"><img class="grid-item" src="/static/img/g3.jpeg"></a>
						<a class="single-gallery" href="/static/img/g4.jpeg"><img class="grid-item" src="/static/img/g4.jpeg"></a>
						<a class="single-gallery" href="/static/img/g5.jpg"><img class="grid-item" src="/static/img/g5.jpg"></a>
						<a class="single-gallery" href="/static/img/g6.jpeg"><img class="grid-item" src="/static/img/g6.jpeg"></a>
						<a class="single-gallery" href="/static/img/g7.jpeg"><img class="grid-item" src="/static/img/g7.jpeg"></a>
						<a class="single-gallery" href="/static/img/g8.jpeg"><img class="grid-item" src="/static/img/g8.jpeg"></a>
						<a class="single-gallery" href="/static/img/g9.jpeg"><img class="grid-item" src="/static/img/g9.jpeg"></a>
						<a class="single-gallery" href="/static/img/g10.jpeg"><img class="grid-item" src="/static/img/g10.jpeg"></a>
						<a class="single-gallery" href="/static/img/g11.jpeg"><img class="grid-item" src="/static/img/g11.jpeg"></a>
						<a class="single-gallery" href="/static/img/g12.jpeg"><img class="grid-item" src="/static/img/g12.jpeg"></a>
						<a class="single-gallery" href="/static/img/g13.jpeg"><img class="grid-item" src="/static/img/g13.jpeg"></a>
						<a class="single-gallery" href="/static/img/g14.jpeg"><img class="grid-item" src="/static/img/g14.jpeg"></a>		
						<a class="single-gallery" href="/static/img/g15.jpeg"><img class="grid-item" src="/static/img/g15.jpeg"></a>
								
					</div>	
				</div>	
			</section>
			<!-- End gallery Area -->
			

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6 class="searchable" style="color: white;" >About Us</h6>
								<p >
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> and distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6 class="searchable" style="color: white;" >Newsletter</h6>
								<p>Stay update with our latest</p>
								<div class="" id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
										<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
			                            	<button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
			                            	<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>

										<div class="info"></div>
									</form>
								</div>
							</div>
						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6 class="searchable" style="color: white;" >Follow Us</h6>
								<p>Let us be social</p>
								<div class="footer-social d-flex align-items-center" class="searchable" style="color: white;" >
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->	
			<!-- Start service Area -->
			<section class="service-area pt-100" id="about">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-clock"></span>
							  <h4 class="searchable" >Openning Hours</h4>
							  <p>
							  	Mon - Fri: 10.00am to 05.00pm
								Sat: 12.00pm to 03.00 pm
								Sunday Closed
							  </p>						 	
							  <div class="overlay">
							    <div class="text">
							    	<p class="searchable" >
							    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
							    	</p>
							    	<a href="{% url 'ticket' %}"class="text-uppercase primary-btn">Buy ticket</a>
							    </div>
							  </div>
							</div>							
						</div>
						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-rocket"></span>
							  <h4 class="searchable" >Ongoing Exhibitions</h4>
							  <p>
							  	Mon - Fri: 10.00am to 05.00pm
								Sat: 12.00pm to 03.00 pm
								Sunday Closed
							  </p>						 	
							  <div class="overlay">
							    <div class="text">
							    	<p class="searchable" >
							    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
							    	</p>
							    	<a href="{% url 'ticket' %}" class="text-uppercase primary-btn">Buy ticket</a>
							    </div>
							  </div>
							</div>							
						</div>
						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-briefcase"></span>
							  <h4 class="searchable" >Openning Events</h4>
							  <p>
							  	Mon - Fri: 10.00am to 05.00pm
								Sat: 12.00pm to 03.00 pm
								Sunday Closed
							  </p>						 	
							  <div class="overlay">
							    <div class="text">
							    	<p>
							    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
							    	</p>
							    	<a href="{% url 'ticket' %}" class="text-uppercase primary-btn">Buy ticket</a>
							    </div>
							  </div>
							</div>							
						</div>												
					</div>
				</div>	
			</section>
			<!-- End service Area -->	

			<script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="/static/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="/static/js/easing.min.js"></script>			
			<script src="/static/js/hoverIntent.js"></script>
			<script src="/static/js/superfish.min.js"></script>	
			<script src="/static/js/jquery.ajaxchimp.min.js"></script>
			<script src="/static/js/jquery.magnific-popup.min.js"></script>	
			<script src="/static/js/owl.carousel.min.js"></script>	
			<script src="/static/js/imagesloaded.pkgd.min.js"></script>
			<script src="/static/js/justified.min.js"></script>					
			<script src="/static/js/jquery.sticky.js"></script>
			<script src="/static/js/jquery.nice-select.min.js"></script>			
			<script src="/static/js/parallax.min.js"></script>		
			<script src="/static/js/mail-script.js"></script>	
			<script src="/static/js/main.js"></script>
			<!-- Add the JavaScript code for search, highlighting, and auto-scrolling -->
			
			<script>
				$(document).ready(function() {
					function highlightSearchResults(searchTerm) {
						// Remove any previous highlighting
						$('.highlighted').each(function() {
							var content = $(this).html();
							$(this).replaceWith(content);
						});

						if (searchTerm) {
							// Create a regular expression with the search term and 'gi' flag for case-insensitive search
							var regex = new RegExp("\\b" + searchTerm + "\\b", 'gi');

							// Loop through all the elements with class 'searchable'
							$('.searchable').each(function() {
								var content = $(this).html();
								var highlightedContent = content.replace(regex, '<span class="highlighted">$&</span>');
								$(this).html(highlightedContent);
							});
						}
					}

					// Listen for the form submission event
					$('#search-form').submit(function(event) {
						event.preventDefault(); // Prevent the default form submission
						var searchTerm = $('#search-input').val();
						highlightSearchResults(searchTerm);

						// Auto scroll to the first highlighted result
						// Auto scroll to the first highlighted result
						var firstHighlighted = $('.highlighted').first();
						if (firstHighlighted.length) {
							var viewportHeight = $(window).height();
							var elementTop = firstHighlighted.offset().top;
							var elementHeight = firstHighlighted.outerHeight();
							var scrollOffset = elementTop - (viewportHeight / 2) + (elementHeight / 2); // Scroll to keep the highlighted word in the middle

							$('html, body').animate({
								scrollTop: scrollOffset
							}, 500); // Adjust scrolling speed as needed
						}

					});

					// Listen for the input change event
					$('#search-input').on('input', function() {
						var searchTerm = $(this).val();
						highlightSearchResults(searchTerm);
					});
				});
			</script>
			<script>
				$(document).ready(function() {
					// Toggle notification dropdown when notification button is clicked
					$('.notification-button').click(function() {
						$('.notification-dropdown').toggle();
					});
				});
			</script>
					
		</body>
	</html>


